# Data Types

1. Numbers
2. Strings     (44 functions)
3. List        (11 functions)
4. Dictionary  (11 functions)
5. Tuple       (2  functions)
6. Sets        (17 functions)
7. frogenset

# 1.Numbers

There are three built-in data types for numbers
1. Integers (8 classes)
2. Floats (7 classes)
3. Complex (3 classes)

In [2]:
a = 0b11100101010101011 # value of 'a' = '117419' in integer
print('a =',a," type of a = ",type(a)) 
a1 = 117419
print('a1 =',a1," type of a1 = ",type(a1)) 

b = hex(15)  
print('b =',b,"type = b",type(b))
c = 0xf  # x represent that next value is in hexdecimal form
print('c =',c)
m =0xc0ffee
print('0xc0ffee in integer = ',(m))
print("\nDirectory of complex class ::\n",dir(2j+5j)) # only 'j' is used as coeffient of imaginary value
print("\nDirectory of integer class ::\n",dir(1))

a = 117419  type of a =  <class 'int'>
a1 = 117419  type of a1 =  <class 'int'>
b = 0xf type = b <class 'str'>
c = 15
0xc0ffee in integer =  12648430

Directory of complex class ::
 ['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'conjugate', 'imag', 'real']

Directory of integer class ::
 ['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [3]:
x = 45
y = 56.78
z = 1235+34.34j
print("Type of x ",type(x))
print("Type of y ",type(y))
print("Type  of z ",type(z))

Type of x  <class 'int'>
Type of y  <class 'float'>
Type  of z  <class 'complex'>

In [4]:
print("X = ",x)
print("Y = ",y)
print("Z = ",z)
x = 5
y = 6.34
z1 = 12 + 45j
print((z1.real))
z = x+z1

X =  45
Y =  56.78
Z =  (1235+34.34j)
12.0

# 2.Strings

1. 'single quoted string'
2. "Double quoted string"
3 . """ you can initlize a paragraph directly in python.
this is line 2nd.
this is line 3rd.
    para spaces"""

In [5]:
x = "he is so good in cricket."
y = 'yeah, you are'     'right.'
z = """Python is an awesome language.
it is developed by Guido Van Rossum in 1989.
hello world tonth eenvironments
    IBM and Google are those companies which adopted python 
in it's earlier phase.
"""

In [6]:
print('x = ',x)
print('y = ',y)
print('z = ',z)
s = "he's not so good." 
y = "he\"s not so good." +" "+s
print(s)
print(y)

x =  he is so good in cricket.
y =  yeah, you areright.
z =  Python is an awesome language.
it is developed by Guido Van Rossum in 1989.
hello world tonth eenvironments
    IBM and Google are those companies which adopted python
in it's earlier phase.

he's not so good.
he"s not so good. he's not so good.

In [7]:
print("\n\nDirectory of String class ::\n",dir('asd'))

Directory of String class ::
 ['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [8]:
s = "  ABADC vgv bg vahdsf ksdbf\n    .  "
g = 'girraj jangid'
g1 = 'hisabkj jasdaa'

In [9]:
k = s.strip() # It removes the whitespaces
print(s)
print(k)

  ABADC vgv bg vahdsf ksdbf
    .
ABADC vgv bg vahdsf ksdbf
    .

In [11]:
one = 'hello '
two = 'hi'
print(one+two)
print(s.capitalize().__doc__) # return the document of capitalize()
print('***')
print(s.capitalize.__doc__)
print('***0000000000******')
print(dir(str))

hello hi
str(object='') -> str
str(bytes_or_buffer[, encoding[, errors]]) -> str

Create a new string object from the given object. If encoding or
errors is specified, then the object must expose a data buffer
that will be decoded using the given encoding and error handler.
Otherwise, returns the result of object.__str__() (if defined)
or repr(object).
encoding defaults to sys.getdefaultencoding().
errors defaults to 'strict'.
***
S.capitalize() -> str

Return a capitalized version of S, i.e. make the first character
have upper case and the rest lower case.
***0000000000******
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [12]:
s = "      HeLlo WorLd     "
k = s.strip() # remove all leading and trailing spaces
l = s.upper() #it will change all char into uppercase
p = s.lower()
n = s.swapcase()
q = s.strip().capitalize()#only first charcter will be capital and rest will small

In [13]:
print(s)
print(k)
print(l)
print(p)
print(n)
print(q)

      HeLlo WorLd
HeLlo WorLd
      HELLO WORLD
      hello world
      hElLO wORlD
Hello world

# String pencularity
id() return the address of stored variable

In [26]:
a = 'asdfasdfasdfs!df' # because of special character '!'
b = 'asdfasdfasdfs!df' # it means both variable store at a different addresses
print(id(a))
print(id(b))
print(id(b) == id(a))
print((b)==(a))
# but if write like this
a = 'asdfasdf'
b = 'asdfasdf'
print(id(a))
print(id(b))
print(id(b) == id(a))
print((b)==(a))

2179934374912
2179934205104
False
True
2179934396016
2179934396016
True
True

In [27]:
x = 42
y = x
# to check x and y referencing same address we use ID() function
print('x : ',x,"\ny: ",y)
print(id(x))
print(id(y))
print(id(x) == id(y))

x :  42
y:  42
1567060320
1567060320
True

In [33]:
x = 42
y = x
print('x before = ',x)
print('y before = ',y)
x += 42
y = 0
print('x after = ',x)
print('y after = ',y)
# we can also check wether x and y refering the same object or not by using id() function
print(id(x)) 
y = x
print(id(y))

x before =  42
y before =  42
x after =  84
y after =  0
1567061664
1567061664

In [34]:
for i in range(1,10):
    y = 100/i
    print(y , end ="  ")

100.0  50.0  33.333333333333336  25.0  20.0  16.666666666666668  14.285714285714286  12.5  11.11111111111111

# There are two types of division operators:
 1. "true division" performed by "/"
 
 2. "floor division" performed by "//"
 
 # Operators
  in = 'element of'

In [35]:
print(10/3)
print(10//3)
a = 'as'
print(3 | 1 ) # bitwise Or
#print(a = 'asdf') # through an error
print(3 or 1) #boolean OR operator

3.3333333333333335
3
3
3

# python keywords

and, as, assert, break, class, continue, def, del, elif, else,
except, False, finally, for, from, global, if, import, in, is, 
lambda, None, nonlocal, not, or, pass, raise, return, True, try, 
while, with, yield

# List  and String are Sequential data type

a list is just a collection of other elements.
a element can be anything, it can be number it can string, it can be list, or any valid python object or attribute

if All elements of a list are of same type then list is known as array
list can be homogenous or hetrogenous
homogenous -> similar elements
hetrogenous -> different elements

all the arrays are lists but list can be all time a array.

In [36]:
mylist = [ 1,2,3,4,57] #homogenous
mylist2 = [ 'hi','hello','how'] #homogenous
mylist3 = [ 1,2,3.14,5+6j,['h','i','o'],'hello','hi'] #structure

In [37]:
print(mylist)

[1, 2, 3, 4, 57]

In [38]:
print(mylist3)
a = "TPoyrtohnotno  ciosu rtshees  lianr gTeosrto nCtiot yb yi nB oCdaennasdeao"
print(a)
print(a[::2])
print(a[1::2])

[1, 2, 3.14, (5+6j), ['h', 'i', 'o'], 'hello', 'hi']
TPoyrtohnotno  ciosu rtshees  lianr gTeosrto nCtiot yb yi nB oCdaennasdeao
Toronto is the largest City in Canada
Python courses in Toronto by Bodenseo

In [45]:
l = [ 1,2,3,'hello','hi',3.14,'bye']
print(l[4])
print(l[-3])

hi
hi

In [50]:
l = [ 1,2,3,[3,4,115,6,337,8,8,10],'hi','hello']

In [55]:
l[3].sort(reverse = True)
l

[1, 2, 3, [337, 115, 10, 8, 8, 6, 4, 3], 'hi', 'hello']

In [56]:
l = [
    [3,4,435,56,53,4,2],
    [23,4,5,[57,68,656],45,],
    [2,3,5,56,67,545,3,4,],
]

In [57]:
print(l[1][3][-1])

656

In [58]:
#l[start:end:step]
l = [ 45,457,5,4,34,3,65,7,4324,67,4,342,345,567,]
print(*l)

45 457 5 4 34 3 65 7 4324 67 4 342 345 567

In [59]:
print("Python")
print(*"Python")
l = [ 1,2,3,'python',[4,5,6],43,34,343]
l1=l[:4]
l2=l[4]
l3=l[5:]
print(l)
print(*(l1+l2+l3))

Python
P y t h o n
[1, 2, 3, 'python', [4, 5, 6], 43, 34, 343]
1 2 3 python 4 5 6 43 34 343

In [60]:
l = range(5,51,5)
print(l)
print(*l)
q=range(13,131,13)
print(*q)

range(5, 51, 5)
5 10 15 20 25 30 35 40 45 50
13 26 39 52 65 78 91 104 117 130

# It's a kind of abbreviation for an n-times concatenation = 'as' * 4 = asasasas

In [61]:

l = list('23432#@$^%$^&$%^$%#pyth9723498on')
l2=['kjhsdbfjbhsd']
print(*l)
print(*l2)
print(l)
print(l2)

2 3 4 3 2 # @ $ ^ % $ ^ & $ % ^ $ % # p y t h 9 7 2 3 4 9 8 o n
kjhsdbfjbhsd
['2', '3', '4', '3', '2', '#', '@', '$', '^', '%', '$', '^', '&', '$', '%', '^', '$', '%', '#', 'p', 'y', 't', 'h', '9', '7', '2', '3', '4', '9', '8', 'o', 'n']
['kjhsdbfjbhsd']

In [66]:
l = list(range(1,50,3))
print(type(l))
print(l)
#q=range(1,50,3)

enter=int(input('Enter the number you want to print table.'))
print(*list(range(enter,(enter*10+1),enter)))

print(*list(q))

<class 'list'>
[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]
Enter the number you want to print table.2
2 4 6 8 10 12 14 16 18 20
13 26 39 52 65 78 91 104 117 130

In [67]:
s = l[5:12:2]
print(s)

# sigle line table
z = int(input("Enter the number you want to print table."))
print(*range(z,(z*10)+1,z))

[16, 22, 28, 34]
Enter the number you want to print table.2
2 4 6 8 10 12 14 16 18 20

In [68]:
s = l[:5]
print(s)
s = l[5:]
print(s)
print(l)

[1, 4, 7, 10, 13]
[16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]
[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

In [70]:
#************* IMPORTANT *******************
x = ['a','b','c']
y = [x] * 2          # '*2' is not dublicate the x '*' create two new references of x so when we change 
                        #1st reference all reference changes
y[1][1] = 'q'
y[0][0] = '__'
y

[['__', 'q', 'c'], ['__', 'q', 'c']]

In [71]:
print(l)
l.sort()
print(dir(l))

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [72]:
#l.extend('qwe')  # extend takes interator as an argument 
#l.append('qwe') # appends take single argument
#(l.insert(0 , 'girraj'))
l.reverse()
print(l)

[49, 46, 43, 40, 37, 34, 31, 28, 25, 22, 19, 16, 13, 10, 7, 4, 1]

In [73]:
l = [1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 'asasddasd', 'asasddasd', 'asasddasd']
print(l)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 'asasddasd', 'asasddasd', 'asasddasd']

In [74]:
s = l[::-1]
print(s)
print(l[-1:-10:-1])

['asasddasd', 'asasddasd', 'asasddasd', 49, 46, 43, 40, 37, 34, 31, 28, 25, 22, 19, 16, 13, 10, 7, 4, 1]
['asasddasd', 'asasddasd', 'asasddasd', 49, 46, 43, 40, 37, 34]

In [75]:
l = list(range(1,128))

In [76]:
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127]

In [77]:
print(l[-1:-16:-1])
print(l[-15:])

[127, 126, 125, 124, 123, 122, 121, 120, 119, 118, 117, 116, 115, 114, 113]
[113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127]

In [78]:
x = len(l)
print(x)

127

In [79]:
#list is a mutable data type
l = [ 234,5,443,2,4,55,7,342,4,6,3,24 ]
print(dir(l))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [80]:
l = [12,34,45,35]
l[2] = l[2]*3
k = [ 'hello','hi','how']
s = l + k 
print(l)
x=k.pop()
print(x)
print(k)
print(s)

[12, 34, 135, 35]
how
['hello', 'hi']
[12, 34, 135, 35, 'hello', 'hi', 'how']

In [82]:
n = 3*[l] # it create matrix so if we multiple or reassign with a new value the assignment will be broadcast 
print(n)
n[0][0] = '__'
print(n)
print('****************************************')
n = 3*l
print(n)
n[1] = '__'
print(n)

[['__', 34, 135, 35], ['__', 34, 135, 35], ['__', 34, 135, 35]]
[['__', 34, 135, 35], ['__', 34, 135, 35], ['__', 34, 135, 35]]
****************************************
['__', 34, 135, 35, '__', 34, 135, 35, '__', 34, 135, 35]
['__', '__', 135, 35, '__', 34, 135, 35, '__', 34, 135, 35]

In [87]:
l = [ 'hello',5]
print (l)
print(type(l[1]))
print(dir(l))

['hello', 5]
<class 'int'>
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [88]:
l = [range(1,100),'a']
print(*l)

range(1, 100) a

In [90]:
l = [ 23,54,46,57 ]
k = l.copy()
j = l
l.sort(reverse=True)
print(l)
print()
print(k)
print(j)

[57, 54, 46, 23]

[23, 54, 46, 57]
[57, 54, 46, 23]

In [91]:
l.append('hello')
print(l)
print(j)
print(k)

[57, 54, 46, 23, 'hello']
[57, 54, 46, 23, 'hello']
[23, 54, 46, 57]

In [92]:
l.insert(2,'bye')
print(l)
print(j)
print(k)

[57, 54, 'bye', 46, 23, 'hello']
[57, 54, 'bye', 46, 23, 'hello']
[23, 54, 46, 57]

In [93]:
l = [ 1,2,3]
l.append('hello')
l.extend('python')
l.extend((range(0,20)))
l.append((range(0,20)))  # appends takes only single argument

print(l)

[1, 2, 3, 'hello', 'p', 'y', 't', 'h', 'o', 'n', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, range(0, 20)]

In [94]:
l = [ 'hi','hello',1,2,3]
l.append([4,5,6])
l.extend([7,8,9])
print(l)
(l[5].sort(reverse = True))
print(l)
if 0:
    print('asdf')

['hi', 'hello', 1, 2, 3, [4, 5, 6], 7, 8, 9]
['hi', 'hello', 1, 2, 3, [6, 5, 4], 7, 8, 9]

In [95]:
k = [ 'hello','hi','how']
x=k.pop()
print(x)
print(k)
l=list(range(0,30))
x = l.pop()
print(l)
print("Deleting ",x)
print(l)

how
['hello', 'hi']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]
Deleting  29
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]

In [101]:
y = l.pop(1)
x = l.pop(0)
print("{} and {} are deleted from list.".format(x,y))
print(l)

6 and 7 are deleted from list.
[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]

In [105]:
l.remove(14)
print(l)

[8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]

In [110]:
l1 = [ 1,23,5,34,3,2,3235,46,5,53,4,]
l2 = [ 'hello','jcb','java','c','Zesus','c++','perl','ruby'] # ABCD abcd

In [111]:
l1.sort()
l2.sort()

In [112]:
print(l1)
print(l2)

[1, 2, 3, 4, 5, 5, 23, 34, 46, 53, 3235]
['Zesus', 'c', 'c++', 'hello', 'java', 'jcb', 'perl', 'ruby']

In [113]:
l1 = [ 1,23,5,34,3,2,3235,46,5,53,4,]
l2 = [ 'hello','jcb','java','c','Zesus','c++','perl','ruby'] # capital letter ABC comes first
print(l1.sort(reverse = True))
print(l2.sort())
print(l2)
print(l1)

None
None
['Zesus', 'c', 'c++', 'hello', 'java', 'jcb', 'perl', 'ruby']
[3235, 53, 46, 34, 23, 5, 5, 4, 3, 2, 1]

In [114]:
l1.sort(reverse=True)
l2.sort(reverse=True)
print(l1)
print(l2)

[3235, 53, 46, 34, 23, 5, 5, 4, 3, 2, 1]
['ruby', 'perl', 'jcb', 'java', 'hello', 'c++', 'c', 'Zesus']

In [115]:
s = [ 234,5,34,34,'hello','hi',123]
print(s)
s.reverse()
print(s)
s.clear()
print(s)

[234, 5, 34, 34, 'hello', 'hi', 123]
[123, 'hi', 'hello', 34, 34, 5, 234]
[]

In [116]:
del s
print(s)

NameError: name 's' is not defined

In [122]:
l = [ 1,2,43,1,24,35,1,2,424,21,2,1,1,1,1,1,2,34,35,32,532,32,34,32,2]

In [123]:
print(l)
l = (range(10,100,5))
print(*l)
print(l)

[1, 2, 43, 1, 24, 35, 1, 2, 424, 21, 2, 1, 1, 1, 1, 1, 2, 34, 35, 32, 532, 32, 34, 32, 2]
10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95
range(10, 100, 5)

In [124]:
one = l.count(1)
th = l.count(3)
t = l.count(2)
print(one)
print(th)
print(t)

0
0
0

In [125]:
l.append(35)
l.sort();l=l[l.count(1):]
print(l)

AttributeError: 'range' object has no attribute 'append'

In [126]:
print(l)

range(10, 100, 5)

In [127]:
c = l.count(35)#2
i = l.index(35) #12
k = l[:i] #l[0:12]
j = l[i+c:] #l[14:]
l = k+j
print(l)
print(c)
print(i)
print(k)
print(j)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [128]:
i=[1,1,1,1,5,3,8,0,5,1,6,9,4,3]
print(i)

[1, 1, 1, 1, 5, 3, 8, 0, 5, 1, 6, 9, 4, 3]

In [129]:
i

[1, 1, 1, 1, 5, 3, 8, 0, 5, 1, 6, 9, 4, 3]

In [130]:
print(dir(l))

['__bool__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index', 'start', 'step', 'stop']

In [131]:
print(l)

range(10, 100, 5)

In [132]:
i = [9]
i.extend([2,3,4])
i.append([2,3,4])
print(i)

[9, 2, 3, 4, [2, 3, 4]]

In [133]:
print(i.reverse())

None

In [134]:
i.reverse()
print(i)

[9, 2, 3, 4, [2, 3, 4]]

In [135]:
print(i)

[9, 2, 3, 4, [2, 3, 4]]

In [153]:
i.reverse()
print(i)
i

[9, 4, 3, 2]

[9, 4, 3, 2]

In [154]:
i.sort(reverse=True)
print(i)

[9, 4, 3, 2]

In [155]:
i.sort()
print(i)

[2, 3, 4, 9]

In [156]:
index=i.index(5)
count=i.count(5)
lis=i[index+count:]
lis2=i[:index]
l=lis2+lis
print(l)
l.remove(3)
print(l)

ValueError: 5 is not in list

In [157]:
# variable 'a' is not a integer variable it is a object of integer variable and reference to that object which store the 85 value
a = 85
print(type(a))
class demo:
    b = 10
demoobj = demo()
print(type(demoobj))
print(type(demo.b))

<class 'int'>
<class '__main__.demo'>
<class 'int'>

# Checking runtime
augmented assigment (+=) > extend() > append()

In [158]:
import time
print(time.time())
n = 10000000
start_time = time.time()
l = []
#for i in range(n):
 #   l = l + [i*2]  # badest assigment
#print(time.time() - start_time)

start_time = time.time()
l = []
for i in range(n):
    l += [i*2]  # "augmented assignment or concatenate" is most fastest assignment
print(time.time() - start_time)

start_time = time.time()
l = []
for i in range(n):
    l.append([i*2]) # append 3rd higest
print(time.time() - start_time)

start_time = time.time()
l = []
for i in range(n):
    l.extend([i*2]) #extend 2nd higest 
print(time.time() - start_time)

1556368241.812887
3.759730815887451
10.016353845596313
5.2896952629089355

In [ ]:
n= 10000

start_time = time.time()
l = []
for i in range(n):
    l = l + [i * 2]
print(time.time() - start_time)

start_time = time.time()
l = []
for i in range(n):
    l += [i * 2]
print(time.time() - start_time)

start_time = time.time()
l = []
for i in range(n):
    l.append(i * 2)
print(time.time() - start_time)

In [161]:
l = [1,2,3,4]
if 1 in l:
    print('Hello world')
l = [l] * 3  # this '*3' create 3 same references so if we change one value all reference values updated
print(l)
l[0][2] = 'a'
print(l)

Hello world
[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]
[[1, 2, 'a', 4], [1, 2, 'a', 4], [1, 2, 'a', 4]]

## Copying a List

In [162]:
a = 12
b = a
print(id(a),id(b))
b = 10
print(a,b)
print(id(a),id(b))

1567059360 1567059360
12 10
1567059360 1567059296

This is not similar in case of 'List'. Let's have a look

In [163]:
a = [1,2,3]
b = a
print(a,b)
print(id(a),id(b))
# now we change value of b
b[0] = 99
print(a,b)
print(id(a),id(b))

[1, 2, 3] [1, 2, 3]
2181077455368 2181077455368
[99, 2, 3] [99, 2, 3]
2181077455368 2181077455368

In [164]:
from copy import deepcopy
l1 = [1,2,[3,4]] #
l2 = deepcopy(l1)
print(l1,l2)
print(id(l1),id(l2))
print(id(l1[0]),id(l2[0]))
print(id(l1[2]),id(l2[2]))

[1, 2, [3, 4]] [1, 2, [3, 4]]
2181077456008 2181077455944
1567059008 1567059008
2181077455880 2181077456072

# 3.Dictionary (11 Funtions)

dictionaries are the Python implementation of an abstract data type

Dictionaries don't support the sequence operation of the sequence data types like strings, tuples and lists. Dictionaries belong to the built-in mapping type, but so far they are the sole representative of this kind!

In [165]:
info = { 
        'name' : 'python',
        'year' : 1991,
        'Developed_by' : 'Guido Van Rossum',
        'versions' : ['1.x','2.x','3.x'],
        'current_version' : 3.6,
        'frame_work' : { 'web' : [ 'Django','Flask','Web2py',],
                        'application' : [ 'kivi','wxpython','tkinter',],
                        'automation' : [ 'Salt','Ansible','Openstack'],
                        'ml' : [ 'numpy','scipy','pandas','sckit-learn']
                            }
        
        }

In [166]:
print(dir(info))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [167]:
info2 = (info.copy())
info2

{'name': 'python',
 'year': 1991,
 'Developed_by': 'Guido Van Rossum',
 'versions': ['1.x', '2.x', '3.x'],
 'current_version': 3.6,
 'frame_work': {'web': ['Django', 'Flask', 'Web2py'],
  'application': ['kivi', 'wxpython', 'tkinter'],
  'automation': ['Salt', 'Ansible', 'Openstack'],
  'ml': ['numpy', 'scipy', 'pandas', 'sckit-learn']}}

In [168]:
print(info.clear())
info

None

{}

In [169]:
info2

{'name': 'python',
 'year': 1991,
 'Developed_by': 'Guido Van Rossum',
 'versions': ['1.x', '2.x', '3.x'],
 'current_version': 3.6,
 'frame_work': {'web': ['Django', 'Flask', 'Web2py'],
  'application': ['kivi', 'wxpython', 'tkinter'],
  'automation': ['Salt', 'Ansible', 'Openstack'],
  'ml': ['numpy', 'scipy', 'pandas', 'sckit-learn']}}

In [170]:
info2['frame_work']['ml'][1]

'scipy'

In [171]:
info2['frame_work'].pop('ml') # it takes parameter and return poped element

['numpy', 'scipy', 'pandas', 'sckit-learn']

In [172]:
info2['frame_work'].popitem() # it doesnt take an argument it pop last element and return poped element

('automation', ['Salt', 'Ansible', 'Openstack'])

In [173]:
info2.keys()

dict_keys(['name', 'year', 'Developed_by', 'versions', 'current_version', 'frame_work'])

In [174]:
info2.items() # returned paired values

dict_items([('name', 'python'), ('year', 1991), ('Developed_by', 'Guido Van Rossum'), ('versions', ['1.x', '2.x', '3.x']), ('current_version', 3.6), ('frame_work', {'web': ['Django', 'Flask', 'Web2py'], 'application': ['kivi', 'wxpython', 'tkinter']})])

In [175]:
print((list(info2.values())[5]['web'][1]))
(info2['frame_work']['web'][1])

Flask

'Flask'

In [176]:
info2

{'name': 'python',
 'year': 1991,
 'Developed_by': 'Guido Van Rossum',
 'versions': ['1.x', '2.x', '3.x'],
 'current_version': 3.6,
 'frame_work': {'web': ['Django', 'Flask', 'Web2py'],
  'application': ['kivi', 'wxpython', 'tkinter']}}

In [177]:
print(info2.get('name')) # to get values of argumented keys
info2.update({'KKKK':'VVVV'}) # to add subdictionary into dictionary MERGING A DICTIONARY
info2

python

{'name': 'python',
 'year': 1991,
 'Developed_by': 'Guido Van Rossum',
 'versions': ['1.x', '2.x', '3.x'],
 'current_version': 3.6,
 'frame_work': {'web': ['Django', 'Flask', 'Web2py'],
  'application': ['kivi', 'wxpython', 'tkinter']},
 'KKKK': 'VVVV'}

In [178]:
info2.setdefault('QQQQ',"NEWNEWNEWNEWNEW") # it insert key,value in dict if given key is not in dict
info2

{'name': 'python',
 'year': 1991,
 'Developed_by': 'Guido Van Rossum',
 'versions': ['1.x', '2.x', '3.x'],
 'current_version': 3.6,
 'frame_work': {'web': ['Django', 'Flask', 'Web2py'],
  'application': ['kivi', 'wxpython', 'tkinter']},
 'KKKK': 'VVVV',
 'QQQQ': 'NEWNEWNEWNEWNEW'}

### To measure the time required by loop

In [180]:
%%timeit d = {"a":123, "b":34, "c":304, "d":99}
a = 0
for key in d.keys():
    x=d[key]
    a+=1

687 ns ± 4.67 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [181]:
print(info2)
print()
print(list(info2.items()))

{'name': 'python', 'year': 1991, 'Developed_by': 'Guido Van Rossum', 'versions': ['1.x', '2.x', '3.x'], 'current_version': 3.6, 'frame_work': {'web': ['Django', 'Flask', 'Web2py'], 'application': ['kivi', 'wxpython', 'tkinter']}, 'KKKK': 'VVVV', 'QQQQ': 'NEWNEWNEWNEWNEW'}

[('name', 'python'), ('year', 1991), ('Developed_by', 'Guido Van Rossum'), ('versions', ['1.x', '2.x', '3.x']), ('current_version', 3.6), ('frame_work', {'web': ['Django', 'Flask', 'Web2py'], 'application': ['kivi', 'wxpython', 'tkinter']}), ('KKKK', 'VVVV'), ('QQQQ', 'NEWNEWNEWNEWNEW')]

In [182]:
sections = ['A','B','C','D']
students = [12,45,76,87]
d = {}
combine = list(zip(sections, students))  # zip return tuple pairs
print(combine)
d.update(combine)
d

[('A', 12), ('B', 45), ('C', 76), ('D', 87)]

{'A': 12, 'B': 45, 'C': 76, 'D': 87}

In [183]:
combine2 = [["Q",44],['W',66],['T',55],['U',99]]
d.update(combine2)
print(d)
d.clear()
print(d)
d = dict(combine2) # we can also do by this 
print(d)

{'A': 12, 'B': 45, 'C': 76, 'D': 87, 'Q': 44, 'W': 66, 'T': 55, 'U': 99}
{}
{'Q': 44, 'W': 66, 'T': 55, 'U': 99}

In [185]:
## IMPORTANT zip() work as a iterator
l1 = [1,2,3]
l2 = ['a','b','c']
c = zip(l2,l1) # zip is an iterator so it only one time use i.e either we assign in some other variable or use in for loop
a = list(c)  # Now, C is empty  and 'a' is stores c's elements
for i in a:
    print(i)
for j in c:
    print(j)
print('@@')

('a', 1)
('b', 2)
('c', 3)
@@

In [189]:
c = zip(l1,l2)
a = list(c) # a refer's to zip
b = list(c) # b also refer's to zip
print('a = ',a)
print('b = ',b)

a =  [(1, 'a'), (2, 'b'), (3, 'c')]
b =  []

# 4.Tuples (2 Funtions [count,index])

In [190]:
# tuples are im-mutable i.e we cannot change if we assign some values to tuples
tupl = tuple((range(19)))
print(dir(tupl))
print(type(tupl))
print(*tupl)

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']
<class 'tuple'>
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18

In [191]:
print(tupl.count(3))
len(tupl)

1

19

In [192]:
print(tupl.index(18))

18

In [193]:
for i in tupl:
    print(i , end = " ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18

# 5.Sets (17 functions) 

Build an unordered collection of unique elements.
1. set automatically remove dublicate occurances
2. its order is random

In [194]:
s1 = {1,2,3,4,5,6,3,4,2,3,4,5}
print(type(s1))
print(dir(s1))
print(s1)

<class 'set'>
['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']
{1, 2, 3, 4, 5, 6}

In [195]:
s2 = {2,3,1,52,2,134,23,4,23,51,11,5,7,3,2,4,2,1}   
print('s2 :' ,s2)
print('s1 :' ,s1)

s2 : {1, 2, 3, 4, 5, 134, 7, 11, 51, 52, 23}
s1 : {1, 2, 3, 4, 5, 6}

In [196]:
print("union : ",s1.union(s2))
print("differences : ",s1.difference(s2))
print("intersection : ",s1.intersection(s2))
print("s1 IsSubset of s2 : ",s1.issubset(s2))
#s1.remove(99)

union :  {1, 2, 3, 4, 5, 6, 134, 7, 11, 23, 51, 52}
differences :  {6}
intersection :  {1, 2, 3, 4, 5}
s1 IsSubset of s2 :  False

In [197]:
s1.add('asasa')
#s1.clear()
print('s1 : ',s1)
s1 = s2  # keep it mind that never dublicate varibles like this bcz if u clear s1 then s2 is also clear
print("s2 : ",s2)
print(id(s1),id(s2))

s1 :  {1, 2, 3, 4, 5, 6, 'asasa'}
s2 :  {1, 2, 3, 4, 5, 134, 7, 11, 51, 52, 23}
2179923713384 2179923713384

In [198]:
s3 = s1.copy()
print(id(s1),id(s2),id(s3))
s3

2179923713384 2179923713384 2179917573704

{1, 2, 3, 4, 5, 7, 11, 23, 51, 52, 134}

In [199]:
s1.clear()
print(s3)
print(s1)
s3.add(199999) # add takes exactly one argument
print(s3.pop())  # randomly pop an element
s3

{1, 2, 3, 4, 5, 134, 7, 11, 51, 52, 23}
set()
1

{2, 3, 4, 5, 7, 11, 23, 51, 52, 134, 199999}

In [200]:
s3.update(range(10))  # update takes an interator
print(s3)

{0, 1, 2, 3, 4, 5, 134, 7, 6, 8, 9, 11, 51, 52, 23, 199999}

In [201]:
cities = dict(
                    [       
                        ("Python","Perl"), 
                        ("Paris", "Berlin")
                     ]
            )
cities

{'Python': 'Perl', 'Paris': 'Berlin'}

In [208]:
cities = list(
                    {       
                        ("Python","Perl"), 
                        ("Paris", "Berlin")
                    }
            )
cities

[('Python', 'Perl'), ('Paris', 'Berlin')]

In [209]:
cities = str(
                    {       
                        ("Python","Perl"), 
                        ("Paris", "Berlin")
                    }
            )
cities

"{('Python', 'Perl'), ('Paris', 'Berlin')}"

In [217]:
cities = tuple(
                    {       
                        ("Python","Perl"), 
                        ("Paris", "Berlin")
                    }
            )
cities[1][1][1]

'e'

In [218]:
cities = set(  # we cannot add list as an element
                    {       
                        ("Python","Perl"), 
                        ("Paris", "Berlin")
                    }
            )
cities

{('Paris', 'Berlin'), ('Python', 'Perl')}

Actually set contains elements inorder manner which means we cannot traverse to a particular element like s[1] bcz is it not 
compulsary that 1 index element of s is always same. So, ultimately we cant able to create 2D list into set bcz if we create 
2D list then how we can traverse to that element

so set is a collection of 1D array

In [219]:
name = ['girraj','naman','vikram','saransh','aayush','sristi'] 
new_set = ((name)) # it take single value not iterator   () this cannot convert list into tuple but tuple() does
print(type(new_set))
new_set = {'girraj','naman','vikram','saransh','aayush','sristi'}
print(new_set)
#new_set2 = {[1,2,3,4,5]} set cannot take list 
a = set([1,2,2,3,3,4,5,5,3,4])
#b = {[1,2,2,3,3,4,5,5,3,4]}  # wrong way to assign set
a
print(dir(a))

<class 'list'>
{'naman', 'saransh', 'girraj', 'aayush', 'vikram', 'sristi'}
['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [220]:
a.update(['asdfasdf','asdfasdf','adsfasdf'])
print(a)
b = [1,2,3,4,5]
print(b)
a.difference(b)  # it is possible to take difference between list and set
x = {"a","b","c","d","e"}
y = {"b","c"}
z = {"c","d"}
print("x-y-z: ",x-y-z)  # similar with  
print("x.difference(y) : ",x.difference(y).difference_update(z))
x.difference_update(y)  # it take difference and remove element from 'x' 
x

{1, 2, 3, 4, 5, 'asdfasdf', 'adsfasdf'}
[1, 2, 3, 4, 5]
x-y-z:  {'a', 'e'}
x.difference(y) :  None

{'a', 'd', 'e'}

In [221]:
#x.pop()   # it randomly remove element
#x.remove('a')  # it raise exception if element not in a set
x.discard('q')  # nothing will happen if element not in a set
print(x)

{'d', 'a', 'e'}

### FrozenSet
Difference between frozenset and set is that this is immutable we cannot add or remove element from frozenset 

Build an immutable unordered collection of unique elements.

In [222]:
frozen = frozenset([1,2,3,41,2,3,4,1,3,3,4])  # it is just like tuple in this repeatation is not allow
print(frozen)
print(type(frozen))
print(dir(frozen))

frozenset({1, 2, 3, 4, 41})
<class 'frozenset'>
['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'copy', 'difference', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'symmetric_difference', 'union']

In [223]:
x = {"a","b","c"}
y = {"c","d","e"}
print(x.isdisjoint(y)) # x and y are connected or not if they connected then return false
 
x = {"a","b","c"}
y = {"d","e","f"}
print(x.isdisjoint(y))

False
True

In [225]:
x.symmetric_difference(y)  # common ke alwa sab kuch return karke dega

{'a', 'b', 'c', 'd', 'e', 'f'}

In [226]:
x = {"a","b","c","d","e"}
y = {"c","d"}
print(x.issuperset(y))
print(x > y)
print(x >= y)
print(x >= x)
print(x > x)
print(x.issuperset(x))

True
True
True
True
False
True

In [227]:
print(dir(frozenset))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'copy', 'difference', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'symmetric_difference', 'union']