# Data Types

1. Numbers
2. Strings     (44 functions)
3. List        (11 functions)
4. Dictionary  (11 functions)
5. Tuple       (2  functions)
6. Sets        (17 functions)
7. frogenset

# 1.Numbers

There are three built-in data types for numbers
1. Integers (8 classes)
2. Floats (7 classes)
3. Complex (3 classes)

In [9]:
a = 0b11100101010101011 # value of 'a' = '117419' in integer
print('a =',a," type of a = ",type(a)) 
a1 = 117419
print('a1 =',a1," type of a1 = ",type(a1)) 

b = hex(15)  
print('b =',b,"type = b",type(b))
c = 0xf  # x represent that next value is in hexdecimal form
print('c =',c)
m =0xc0ffee
print('0xc0ffee in integer = ',(m))
print("\nDirectory of complex class ::\n",dir(2j+5j)) # only 'j' is used as coeffient of imaginary value
print("\nDirectory of integer class ::\n",dir(1))

a = 117419  type of a =  <class 'int'>
a1 = 117419  type of a1 =  <class 'int'>
b = 0xf type = b <class 'str'>
c = 15
0xc0ffee in integer =  12648430

Directory of complex class ::
 ['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', 'conjugate', 'imag', 'real']

Directory of integer class ::
 ['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [10]:
x = 45
y = 56.78
z = 1235+34.34j
print("Type of x ",type(x))
print("Type of y ",type(y))
print("Type  of z ",type(z))

Type of x  <class 'int'>
Type of y  <class 'float'>
Type  of z  <class 'complex'>

In [13]:
print("X = ",x)
print("Y = ",y)
print("Z = ",z)
x = 5
y = 6.34
z1 = 12 + 45j
print((z1.real))
z = x+z1

X =  5
Y =  6.34
Z =  (17+45j)
12.0

# 2.Strings

1. 'single quoted string'
2. "Double quoted string"
3 . """ you can initlize a para directly in python.
this is line 2nd.
this is line 3rd.
    para spaces"""

In [ ]:
x = "he is so good in cricket."
y = 'yeah, you are'     'right.'
z = """Python is an awesome language.
it is developed by Guido Van Rossum in 1989.
hello world tonth eenvironments
    IBM and Google are those companies which adopted python 
in it's earlier phase.
"""

In [14]:
print('x = ',x)
print('y = ',y)
print('z = ',z)
s = "he's not so good." 
y = "he\"s not so good." +" "+s
print(s)
print(y)

x =  5
y =  6.34
z =  (17+45j)
he's not so good.
he"s not so good. he's not so good.

In [15]:
print("\n\nDirectory of String class ::\n",dir('asd'))

Directory of String class ::
 ['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [19]:
s = "  ABADC vgv bg vahdsf ksdbf\n    .  "
g = 'girraj jangid'
g1 = 'hisabkj jasdaa'

In [21]:
k = s.strip() # It removes the whitespaces
print(s)
print(k)

  ABADC vgv bg vahdsf ksdbf
    .
ABADC vgv bg vahdsf ksdbf
    .

In [22]:
one = 'hello '
two = 'hi'
print(one+two)
print(s.capitalize().__doc__) # return the document of capitalize()
print('***')
print(s.capitalize.__doc__)x
print('***0000000000******')
print(dir(str))

hello hi
str(object='') -> str
str(bytes_or_buffer[, encoding[, errors]]) -> str

Create a new string object from the given object. If encoding or
errors is specified, then the object must expose a data buffer
that will be decoded using the given encoding and error handler.
Otherwise, returns the result of object.__str__() (if defined)
or repr(object).
encoding defaults to sys.getdefaultencoding().
errors defaults to 'strict'.
***
S.capitalize() -> str

Return a capitalized version of S, i.e. make the first character
have upper case and the rest lower case.
***0000000000******
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
s = "      HeLlo WorLd     "
k = s.strip() # remove all leading and trailing spaces
l = s.upper() #it will change all char into uppercase
p = s.lower()
n = s.swapcase()
q = s.strip().capitalize()#only first charcter will be capital and rest will small

In [ ]:
print(s)
print(k)
print(l)
print(p)
print(n)
print(q)

# String pencularity
id()return the address of box

In [ ]:
a = 'asdfasdfasdfs!df' # because of special character '!'
b = 'asdfasdfasdfs!df' # it means both variable store at a different addresses
print(id(a))
print(id(b))
print(id(b) is id(a))
print((b)==(a))

In [ ]:
x = 42
y = x
# to check x and y referencing same address we use ID() function
print('x : ',x,"\ny: ",y)
print(id(x))
print(id(y))
print(id(x) == id(y))

In [ ]:
x = 42
y = x
print('x before = ',x)
print('y before = ',y)
x += 42
y = 0
print('x after = ',x)
print('y after = ',y)
# we can also check wether x and y refering the same object or not by using id() function
print(id(x))   # 1654221844
y = x
q = 12
print(id(q)) #1654221856

In [ ]:
for i in range(1,10):
    y = 100/i
    print(y , end ="  ")

# There are two kinds of division operators:
 1. "true division" performed by "/"
 
 2. "floor division" performed by "//"
 
 # Operators
  in = 'element of'

In [ ]:
print(10/3)
print(10//3)
a = 'as'
print(3 | 1 ) # bitwise Or
#print(a = 'asdf') # through an error
print(3 or 1) #boolean OR operator

# python keywords

and, as, assert, break, class, continue, def, del, elif, else,
except, False, finally, for, from, global, if, import, in, is, 
lambda, None, nonlocal, not, or, pass, raise, return, True, try, 
while, with, yield

# List  and String are Sequential data type

a list is just a collection of other elements.
a element can be anything, it can be number it can string, it can be list, or any valid python object or attribute

if All elements of a list are of same type then list is known as array
list can be homogenous or hetrogenous
homogenous -> similar elements
hetrogenous -> different elements

all the arrays are lists but list can be all time a array.

In [ ]:
mylist = [ 1,2,3,4,57] #homogenous
mylist2 = [ 'hi','hello','how'] #homogenous
mylist3 = [ 1,2,3.14,5+6j,['h','i','o'],'hello','hi'] #structure

In [ ]:
print(mylist)

In [ ]:
print(mylist3)
a = "TPoyrtohnotno  ciosu rtshees  lianr gTeosrto nCtiot yb yi nB oCdaennasdeao"
print(a)
print(a[::2])
print(a[1::2])

In [ ]:
l = [ 1,2,3,'hello','hi',3.14,'bye']
print(l[4])
print(l[-3])

In [ ]:
l = [ 1,2,3,[3,4,115,6,337,8,8,10],'hi','hello']

In [ ]:
l[3].sort()
l

In [ ]:
l = [
    [3,4,435,56,53,4,2],
    [23,4,5,[57,68,656],45,],
    [2,3,5,56,67,545,3,4,],
]

In [ ]:
print(l[1][3][-1])

In [ ]:
#l[start:end:step]
l = [ 45,457,5,4,34,3,65,7,4324,67,4,342,345,567,]
print(*l)

In [ ]:
print("Python")
print(*"Python")
l = [ 1,2,3,'python',[4,5,6],43,34,343]
l1=l[:4]
l2=l[4]
l3=l[5:]
print(l)
print(*(l1+l2+l3))

In [ ]:
l = range(5,51,5)
print(l)
print(*l)
q=range(13,131,13)
print(*q)

# It's a kind of abbreviation for an n-times concatenation = 'as' * 4 = asasasas

In [ ]:

l = list('23432#@$^%$^&$%^$%#pyth9723498on')
l2=['kjhsdbfjbhsd']
print(*l)
print(*l2)
print(l)
print(l2)

In [ ]:
l = list(range(1,50,3))
print(type(l))
print(l)
#q=range(1,50,3)

enter=int(input('Enter the number you want to print table.'))
print(*list(range(enter,(enter*10+1),enter)))

print(*list(q))

In [ ]:
s = l[5:12:2]
print(s)

# sigle line table
z = int(input("Enter the number you want to print table."))
print(*range(z,(z*10)+1,z))

In [ ]:
s = l[:5]
print(s)
s = l[5:]
print(s)
print(l)

In [ ]:
#************* IMPORTANT *******************
x = ['a','b','c']
y = [x] * 2          # '*2' is not dublicate the x '*' create two new references of x so when we change 
                        #1st reference all reference changes
y[1][1] = 'q'
y[0][0] = '__'
y

In [ ]:
print(l)
l.sort()
print(dir(l))

In [ ]:
#l.extend('qwe')  # extend takes interator as an argument 
#l.append('qwe') # appends take single argument
#(l.insert(0 , 'girraj'))
l.reverse()
print(l)

In [ ]:
l = [1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 'asasddasd', 'asasddasd', 'asasddasd']
print(l)

In [ ]:
s = l[::-1]
print(s)
print(l[-1:-10:-1])

In [ ]:
l = list(range(1,128))

In [ ]:
print(l)

In [ ]:
print(l[-1:-16:-1])
print(l[-15:])

In [ ]:
x = len(l)
print(x)

In [ ]:
#list is a mutable data type
l = [ 234,5,443,2,4,55,7,342,4,6,3,24 ]
print(dir(l))

In [ ]:
l = [12,34,45,35]
l[2] = l[2]*3
k = [ 'hello','hi','how']
s = l + k 
print(l)
x=k.pop()
print(x)
print(k)
print(s)

In [ ]:
n = 3*[l]
print(n)
n[0][0] = '__'
print(n)
print('****************************************')
n = 3*l
print(n)
n[1] = '__'
print(n)

In [ ]:
l = [ 'hello','hi']
print(l)
l[1] = 5
print(l)
print(dir(l))

In [ ]:
l = [range(1,100),'a']
print(*l)

In [ ]:
l = [ 23,54,46,57 ]
k = l.copy()
j = l
l.sort(reverse=True)
print(l)
print()
print(k)
print(j)

In [ ]:
l.append('hello')
print(l)
print(j)
print(k)

In [ ]:
l.insert(2,'bye')
print(l)
print(j)
print(k)

In [ ]:
l = [ 1,2,3]
l.append('hello')
l.extend('python')
l.extend((range(0,20)))
l.append((range(0,20)))  # appends takes only single argument

print(l)

In [ ]:
l = [ 'hi','hello',1,2,3]
l.append([4,5,6])
l.extend([7,8,9])
print(l)
(l[5].sort(reverse = True))
print(l)
if 0:
    print('asdf')

In [ ]:
k = [ 'hello','hi','how']
x=k.pop()
print(x)
print(k)
l=list(range(0,30))
x = l.pop()
print(l)
print("Deleting ",x)
print(l)

In [ ]:
y = l.pop(1)
x = l.pop(0)
print("{} and {} are deleted from list.".format(x,y))
print(l)

In [ ]:
l.remove([6,5,4])
print(l)

In [ ]:
l1 = [ 1,23,5,34,3,2,3235,46,5,53,4,]
l2 = [ 'hello','jcb','java','c','Zesus','c++','perl','ruby']

In [ ]:
l1.sort()
l2.sort()

In [ ]:
print(l1)
print(l2)

In [ ]:
l1 = [ 1,23,5,34,3,2,3235,46,5,53,4,]
l2 = [ 'hello','jcb','java','c','Zesus','c++','perl','ruby'] # capital letter ABC comes first
print(l1.sort(reverse = True))
print(l2.sort())
print(l2)
print(l1)

In [ ]:
l1.sort(reverse=True)
l2.sort(reverse=True)
print(l1)
print(l2)

In [ ]:
s = [ 234,5,34,34,'hello','hi',123]
print(s)
s.reverse()
print(s)
s.clear()
print(s)

In [ ]:
del s
print(s)

In [ ]:
l = [ 1,2,43,1,24,35,1,2,424,21,2,1,1,1,1,1,2,34,35,32,532,32,34,32,2]

In [ ]:
print(l)
l = (range(10,100,5))
print(*l)
print(l)

In [ ]:
one = l.count(1)
th = l.count(3)
t = l.count(2)
print(one)
print(th)
print(t)

In [ ]:
l.append(35)
l.sort();l=l[l.count(1):]
print(l)

In [ ]:
print(l)

In [ ]:
c = l.count(35)#2
i = l.index(35) #12
k = l[:i] #l[0:12]
j = l[i+c:] #l[14:]
l = k+j
print(l)
print(c)
print(i)
print(k)
print(j)

In [ ]:
i=[1,1,1,1,5,3,8,0,5,1,6,9,4,3]
print(i)

In [ ]:
i

In [ ]:
print(dir(l))

In [ ]:
print(l)

In [ ]:
i = [9]
i.extend([2,3,4])
i.append([2,3,4])
print(i)

In [ ]:
print(i.reverse())

In [ ]:
i.reverse()
print(i)

In [ ]:
print(i)

In [ ]:
i.reverse()
print(i)

In [ ]:
print(i.sort())

In [ ]:
i.sort(reverse=True)
print(i)

In [ ]:
i.sort()
print(i)

In [ ]:
index=i.index(5)
count=i.count(5)
lis=i[index+count:]
lis2=i[:index]
l=lis2+lis
print(l)
l.remove(3)
print(l)

In [ ]:
# variable 'a' is not a integer variable it is a object of integer variable and reference to that object which store the 85 value
a = 85
print(type(a))
class demo:
    b = 10
demoobj = demo()
print(type(demoobj))
print(type(demo.b))

# Checking runtime
augmented assigment (+=) > extend() > append()

In [ ]:
import time
print(time.time())
n = 10000000
start_time = time.time()
l = []
#for i in range(n):
 #   l = l + [i*2]  # badest assigment
#print(time.time() - start_time)

start_time = time.time()
l = []
for i in range(n):
    l += [i*2]  # "augmented assignment" is most fastest assignment
print(time.time() - start_time)

start_time = time.time()
l = []
for i in range(n):
    l.append([i*2]) # append 3rd higest
print(time.time() - start_time)

start_time = time.time()
l = []
for i in range(n):
    l.extend([i*2]) #extend 2nd higest 
print(time.time() - start_time)

In [ ]:
n= 10000

start_time = time.time()
l = []
for i in range(n):
    l = l + [i * 2]
print(time.time() - start_time)

start_time = time.time()
l = []
for i in range(n):
    l += [i * 2]
print(time.time() - start_time)

start_time = time.time()
l = []
for i in range(n):
    l.append(i * 2)
print(time.time() - start_time)

In [ ]:
l = [1,2,3,4]
if 1 in l:
    print('hai bhai')
l = [l] * 3  # this '*3' create 3 same references so if we change one value all reference values updated
print(l)
l[0][2] = 'a'
print(l)

## Copying a List

In [ ]:
a = 12
b = a
print(id(a),id(b))
b = 10
print(a,b)
print(id(a),id(b))

This is not similar in case of 'List'. Let's have a look

In [ ]:
a = [1,2,3]
b = a
print(a,b)
print(id(a),id(b))
# now we change value of b
b[0] = 99
print(a,b)
print(id(a),id(b))

In [ ]:
from copy import deepcopy
l1 = [1,2,[3,4]] #
l2 = deepcopy(l1)
print(l1,l2)
print(id(l1),id(l2))
print(id(l1[0]),id(l2[0]))
print(id(l1[2]),id(l2[2]))

# 3.Dictionary (11 Funtions)

dictionaries are the Python implementation of an abstract data type

Dictionaries don't support the sequence operation of the sequence data types like strings, tuples and lists. Dictionaries belong to the built-in mapping type, but so far they are the sole representative of this kind!

In [ ]:
info = { 
        'name' : 'python',
        'year' : 1991,
        'Developed_by' : 'Guido Van Rossum',
        'versions' : ['1.x','2.x','3.x'],
        'current_version' : 3.6,
        'frame_work' : { 'web' : [ 'Django','Flask','Web2py',],
                        'application' : [ 'kivi','wxpython','tkinter',],
                        'automation' : [ 'Salt','Ansible','Openstack'],
                        'ml' : [ 'numpy','scipy','pandas','sckit-learn']
                            }
        
        }

In [ ]:
print(dir(info))

In [ ]:
info2 = (info.copy())
info2

In [ ]:
print(info.clear())
info

In [ ]:
info2

In [ ]:
info2['frame_work']['ml'][1]

In [ ]:
info2['frame_work'].pop('ml') # it takes parameter and return poped element

In [ ]:
info2['frame_work'].popitem() # it doesnt take an argument it pop last element and return poped element

In [ ]:
info2.keys()

In [ ]:
info2.items() # returned paired values

In [ ]:
print((list(info2.values())[5]['web'][1]))
(info2['frame_work']['web'][1])

In [ ]:
info2

In [ ]:
print(info2.get('name')) # to get values of argumented keys
info2.update({'KKKK':'VVVV'}) # to add subdictionary into dictionary MERGING A DICTIONARY
info2

In [ ]:
info2.setdefault('QQQQ',"NEWNEWNEWNEWNEW") # it insert key,value in dict if given key is not in dict
info2

### To measure the time required by loop

In [ ]:
%%timeit d = {"a":123, "b":34, "c":304, "d":99}
a = 0
for key in d.keys():
    x=d[key]
    a+=1

In [ ]:
print(info2)
print()
print(list(info2.items()))

In [ ]:
sections = ['A','B','C','D']
students = [12,45,76,87]
d = {}
combine = list(zip(sections, students))  # zip return tuple pairs
print(combine)
d.update(combine)
d

In [ ]:
combine2 = [["Q",44],['W',66],['T',55],['U',99]]
d.update(combine2)
print(d)
d.clear()
print(d)
d = dict(combine2) # we can also do by this 
print(d)

In [ ]:
l1 = [1,2,3]
l2 = ['a','b','c']
c = zip(l2,l1) # zip is an iterator so it only one time use i.e either we assign in some other variable or use in for loop
a = list(c)  # Now, C is empty  and 'a' is stores c's elements
for i in a:
    print(i)
for j in c:
    print(j)
print('@@')

In [ ]:
c = zip(l1,l2)
a = list(c)
b = list(c)
print('a = ',a)
print('b = ',b)

# 4.Tuples (2 Funtions [count,index])

In [ ]:
# tuples are im-mutable i.e we cannot change if we assign some values to tuples
tupl = tuple((range(19)))
print(dir(tupl))
print(type(tupl))
print(*tupl)

In [ ]:
print(tupl.count(3))
len(tupl)

In [ ]:
print(tupl.index(18))

In [ ]:
for i in tupl:
    print(i , end = " ")

# 5.Sets (17 functions) 

Build an unordered collection of unique elements.
1. set automatically remove dublicate occurances
2. its order is random

In [1]:
s1 = {1,2,3,4,5,6,3,4,2,3,4,5}
print(type(s1))
print(dir(s1))
print(s1)

<class 'set'>
['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']
{1, 2, 3, 4, 5, 6}

In [ ]:
s2 = {2,3,1,52,2,134,23,4,23,51,11,5,7,3,2,4,2,1}   
print('s2 :' ,s2)
print('s1 :' ,s1)

In [ ]:
print("union : ",s1.union(s2))
print("differences : ",s1.difference(s2))
print("intersection : ",s1.intersection(s2))
print("s1 IsSubset of s2 : ",s1.issubset(s2))
#s1.remove(99)

In [ ]:
s1.add('asasa')
#s1.clear()
print('s1 : ',s1)
s1 = s2  # keep it mind that never dublicate varibles like this bcz if u clear s1 then s2 is also clear
print("s2 : ",s2)
print(id(s1),id(s2))

In [ ]:
s3 = s1.copy()
print(id(s1),id(s2),id(s3))
s3

In [ ]:
s1.clear()
print(s3)
print(s1)
s3.add(199999) # add takes exactly one argument
print(s3.pop())  # randomly pop an element
s3

In [ ]:
s3.update(range(10))  # update takes an interator
print(s3)

In [ ]:
cities = dict(
                    [       
                        ("Python","Perl"), 
                        ("Paris", "Berlin")
                     ]
            )
cities

In [ ]:
cities = list(
                    {       
                        ("Python","Perl"), 
                        ("Paris", "Berlin")
                    }
            )
cities

In [ ]:
cities = str(
                    {       
                        ("Python","Perl"), 
                        ("Paris", "Berlin")
                    }
            )
cities

In [ ]:
cities = tuple(
                    {       
                        ("Python","Perl"), 
                        ("Paris", "Berlin")
                    }
            )
cities

In [ ]:
cities = set(  # we cannot add list as an element
                    {       
                        ("Python","Perl"), 
                        ("Paris", "Berlin")
                    }
            )
cities

Actually set contains elements inorder manner which means we cannot traverse to a particular element like s[1] bcz is it not 
compulsary that 1 index element of s is always same. So, ultimately we cant able to create 2D list into set bcz if we create 
2D list then how we can traverse to that element

so set is a collection of 1D array

In [ ]:
name = ['girraj','naman','vikram','saransh','aayush','sristi'] 
new_set = ((name)) # it take single value not iterator   () this cannot convert list into tuple but tuple() does
print(type(new_set))
new_set = {'girraj','naman','vikram','saransh','aayush','sristi'}
print(new_set)
#new_set2 = {[1,2,3,4,5]} set cannot take list 
a = set([1,2,2,3,3,4,5,5,3,4])
#b = {[1,2,2,3,3,4,5,5,3,4]}  # wrong way to assign set
a
print(dir(a))

In [ ]:
a.update(['asdfasdf','asdfasdf','adsfasdf'])
print(a)
b = [1,2,3,4,5]
print(b)
a.difference(b)  # it is possible to take difference between list and set
x = {"a","b","c","d","e"}
y = {"b","c"}
z = {"c","d"}
print("x-y-z: ",x-y-z)  # similar with  
print("x.difference(y) : ",x.difference(y).difference_update(z))
x.difference_update(y)  # it take difference and remove element from 'x' 
x

In [ ]:
#x.pop()   # it randomly remove element
#x.remove('a')  # it raise exception if element not in a set
x.discard('q')  # nothing will happen if element not in a set
print(x)

### FrozenSet
Difference between frozenset and set is that this is immutable we cannot add or remove element from frozenset 

Build an immutable unordered collection of unique elements.

In [ ]:
frozen = frozenset([1,2,3,41,2,3,4,1,3,3,4])  # it is just like tuple in this repeatation is not allow
print(frozen)
print(type(frozen))
print(dir(frozen))

In [ ]:
x = {"a","b","c"}
y = {"c","d","e"}
print(x.isdisjoint(y)) # x and y are connected or not if they connected then return false
 
x = {"a","b","c"}
y = {"d","e","f"}
print(x.isdisjoint(y))

In [ ]:
x.symmetric_difference(y)  # common ke alwa sab kuch return karke dega

In [ ]:
x = {"a","b","c","d","e"}
y = {"c","d"}
print(x.issuperset(y))
print(x > y)
print(x >= y)
print(x >= x)
print(x > x)
print(x.issuperset(x))

In [ ]:
print(dir(frozenset))